<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--<add name="MyCon" connectionString="Data Source=ADMIN-ПК\SQLEXPRESS1;Initial Catalog=TruckSimulator;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="MyCon2" connectionString="Data Source=ADMIN-ПК\SQLEXPRESS1;Initial Catalog=TruckSimulator;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="Truck" connectionString="data source=ADMIN-ПК\SQLEXPRESS1;initial catalog=TruckSimulator_TestRepo1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="MyContext2" connectionString="data source=ADMIN-ПК\SQLEXPRESS1;initial catalog=TruckSimulator_MyModelN3;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model3" connectionString="data source=ADMIN-ПК\SQLEXPRESS1;initial catalog=MyNewModel;integrated security=True" providerName="System.Data.SqlClient" />
    <add name="Model3" connectionString="data source=ADMIN-ПК\SQLEXPRESS1;initial catalog=TruckSimulator_MyModelN3;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />    
    <add name="MyModelContainer" connectionString="metadata=res://*/MyModel.csdl|res://*/MyModel.ssdl|res://*/MyModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ADMIN-ПК\SQLEXPRESS1;initial catalog=TruckSimulator_TestModelFirst;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SimulatorModelContainer" connectionString="metadata=res://*/SimulatorModel.csdl|res://*/SimulatorModel.ssdl|res://*/SimulatorModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ADMIN-ПК\SQLEXPRESS1;initial catalog=MyNewModel;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TruckSimulator_MyModelN3Entities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ADMIN-ПК\SQLEXPRESS1;initial catalog=TruckSimulator_MyModelN3;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Model3Container" connectionString="metadata=res://*/Model3.csdl|res://*/Model3.ssdl|res://*/Model3.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ADMIN-ПК\SQLEXPRESS1;initial catalog=TruckSimulator_MyModelN3;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TruckSimulator_MyModelN3Entities1" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ADMIN-ПК\SQLEXPRESS1;initial catalog=TruckSimulator_MyModelN3;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="MyModel" connectionString="data source=ADMIN-ПК\SQLEXPRESS1;initial catalog=TruckSimulator_MyModelN3;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>